.box {
  display: flex;
  flex-direction: column;
}
.box header {
  display: flex;
  align-items: center;
  background-color: #5660f2;
  color: white;
  padding: 0 1rem;
}

.jobsikerBody{
  background-color: whitesmoke;
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
}
