.memberContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    scale: 0.75;
    margin-top: -25%;
}

.titleContainer {
    width: 120%;
    display: flex;
    flex-direction: column;
    margin-top: -5%;
}

.titleContainer h3 {
    font-size: 200%;
    margin-top: -8%;
}

.titleContainer span {
    font-size: 170%;
    margin-bottom: 3%;
}

.avatarContainer {
    margin-bottom: 6%;
}
.avatarContainer img {
    border-radius: 50%;
    transition: all 0.4s ease-in-out;
    width: 100%;
}
.avatarContainer img:hover {
    scale: 1.1;
}

.socialContainer {
    margin-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 2.5;
    cursor: pointer;
}

.social {
    width: 100%;
    height: 100%;
    color: #fff;
    background-color: #fff;
}


@media (max-width: 600px) {
    .memberContainer {
        margin: 5%;
        margin-top: -10%;
    }   
    .titleContainer h3 {
        font-size: 100%;
    } 
    .titleContainer span {
        font-size: 100%;
    }
}